body {
    background-color: black;
    padding: 180pt;
  }

  .container {
   
  }
  
  .in{
    position: relative;
    color: #ffffff;
    font-size: 100pt;
    font-family: "kepler-std-display", serif;
    font-weight: 300;
    font-style: italic;
    left: 50px;
  }

  .shadows{
    position: relative;
    color:#ffffff;
    font-size: 100pt;
    font-family: serif;
    font-family: "kepler-std-display", serif;
    font-weight: 300;
    font-style: italic;
    left: 40px;
  }

  .jun{
    position: relative;
    color:#ffffff;
    font-size: 27pt;
    font-family: serif;
    font-family: "kepler-std-display", serif;
    font-weight: 1;
    font-style: normal;
    display: inline-block;
    top: 100px;
    left: 45px;
  }

  .titlejp{
    position: relative;
    color:#ffffff;
    font-size: 45pt;
    font-family: serif;
    display: inline-block;
    left: 770px;
  }

  .namejp{
    position: relative;
    color:#ffffff;
    font-size: 20pt;
    font-family: serif;
    display: inline-block;
    left: 1105px;
    top: 50px;

  }




/*
  .in{
    position: relative;
    color: #ffffff;
    font-size: 100pt;
    font-family: serif;
    top: 200px;
    
    font-family: "kepler-std-display", serif;
    font-weight: 300;
    font-style: italic;
  }

  .shadows{
    position: relative;
    color:#ffffff;
    font-size: 100pt;
    font-family: serif;
    top: 220px;
    left: 400px;
    font-family: "kepler-std-display", serif;
    font-weight: 300;
    font-style: italic;
  }

  .jun{
    position: relative;
    color:#ffffff;
    font-size: 27pt;
    font-family: serif;
    top: 450px;
    left: 400px;
    font-family: "kepler-std-display", serif;
    font-weight: 1;
    font-style: normal;
    display: inline-block;

  }

  .titlejp{
    position: relative;
    color:#ffffff;
    font-size: 45pt;
    font-family: serif;
    top: 300px;
    left: 1200px;
    display: inline-block;
  }

  .namejp{
    position: relative;
    color:#ffffff;
    font-size: 20pt;
    font-family: serif;
    top: 325px;
    left: 1300px;
    display: inline-block;

  }
*/