body{
  background-color: black;
  color: white;
}

.titlejp{
  color: #fff;
  position: fixed;
  font-size: 30px;
  top: 40px;
  left: 40px;
  line-height: 38px;
  z-index: 1;
}

.titlejp:hover{
  color: rgb(245, 221, 169);
  text-shadow:
    0 0 30px #fff,
    0 0 3px #fff;
}

.title{
  position: relative;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: "kepler-std-display", serif;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  right: 100px;
  top: 25px;
}

.four{
  position: relative;
  color: #ffffff;
  font-size: 100px;
  font-family: serif;
  font-weight: 300;
  text-align: right;
  right: 100px;
  top: 10px;
}

.text{
  font-size: 22px;
  letter-spacing: 2.4px;
  line-height: 35px;
  z-index: 200;
  font-family: "kepler-std-display", serif;
  text-align: justify;
  font-weight: 300;
  position: relative;
  margin: 10%;
  margin-bottom: 1px;
  margin-top: 4%;
  z-index: -1;
}

.container{
  align-items: center;
  
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  position: fixed;
 z-index: 1;
 margin-top: 1%;
 margin-left: 7%;
 margin-right: 2%;

}

.door {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 
}

.item{
  background: white;
display:flex;
flex-flow: row ;
filter: blur(5px);
width:20vw;
height: 90vh;
margin: 0.6rem;
  opacity: 0.98;
  transition: 0.4s;
  justify-content: center;
}

.item:hover{
  opacity: 0;
}



