body{
    background-color: white;
 
}

.titlejp{
    color: black;
    position: fixed;
    font-size: 30px;
    top: 40px;
    left: 40px;
    line-height: 38px;
    z-index: 1;
    transition: 0.5s;
}

.titlejp:hover{
    color:white;
    text-shadow:
      0 0 30px black,
      0 0 3px black;
}

.title{
    position: relative;
    color: black;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "kepler-std-display", serif;
    font-weight: 300;
    font-style: italic;
    text-align: right;
    right: 100px;
    top: 25px;
  }

  .three{
    position: relative;
    color: black;
    font-size: 100px;
    font-family: serif;
    font-weight: 300;
    text-align: right;
    right: 100px;
    top: 10px;
  }


  .circle{
    background-color: black;
    position: fixed;
    bottom: -43%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 1600px;
    border-radius: 850px 850px 0 0;
    filter: blur(25px);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .text{
   color: white;
   font-size: 22px;
   letter-spacing: 1.6px;
   line-height: 33px;
   z-index: 1;
   font-family: "kepler-std-display", serif;
   text-align: justify;
   font-weight: 300;
   position: sticky;
   display: flex;
   margin: 20%;
   margin-bottom: 30px;
   margin-top: 15%;
   display: flex;
   justify-content: center;
    align-items: center;
   
  }

  a{
    text-decoration: none;
    color: white;
  }

  .click{
    color: white;
    font-size: 22px;
    letter-spacing: 1.6px;
    line-height: 33px;
    z-index: 1;
    font-family: "kepler-std-display", serif;
    text-align: justify;
    font-weight: 300;
    position: sticky;
    display: flex;
    margin: 20%;
    margin-bottom: -8%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
     align-items: center;
     transition: 0.5s;
  }

  .click:hover{
    filter: blur(2px);
  }

  .bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
  
  }
  
  .b{
    color: #fff;
    font-size: 40px;
    font-family: serif;
    font-weight: 300;
    filter: blur(2px);
    transition: 0.5s;
    
  }
  
  
  .next:hover{
    filter:none;
  }
  
  .back:hover{
    filter:none;
  }
  
  a{
    color: #fff;
    text-decoration: none;
  }
  
  a:visited{
    color: #C7B893;
  }