* {
	box-sizing: border-box;
}

body {
	background: black;
	margin: 0;
}

.canvas {
	max-width: 900px;
	height: 550px;
	margin: 100px auto;
	background: rgb(255, 243, 248);
	position: relative;
	z-index: -4;
}

.table{
	max-width: 780px;
	height: 130px;
	background-color: rgb(125, 137, 127);
	position: relative;
	top: 420px;
	left: 6.5%;
	z-index: -4;
}

.lamp{
	position: relative;
	left: 400px;
	top: 119px;

}

#lamptop{
	background-color: rgb(193, 217, 235);
    width: 150px;
    height: 66px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#lampbottom{
	background-image:linear-gradient(#f2f2e8, rgb(193, 217, 235));
    width: 55px;
    height: 105px;
	top: 66px;
	left: 45px;
	position: absolute;
}

#light{
	border-bottom: 105px solid rgb(245, 237, 204);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	width: 185px;
	left: -17.5px;
	opacity: 0.3;
	position: relative;
    animation: blinkk 3s ease infinite normal; 
}

@keyframes blinkk {
    0% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.3;}
    80% {opacity: 0.6;}
    100% {opacity: 0.2;}
   }

.egg{
	background-color: plum;
	position: relative;
	top: 37px;
	left: 270px;
    width: 57px;
    height: 90px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	z-index: 9;
    animation:  rotate 4s ease-in-out  infinite normal;
}


  @keyframes rotate {
    0% {
      transform: rotate(-55deg);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
        transform: rotate(-55deg);
      }
  }




.ring{
	position: relative;
	top: -69px;
	left: 650px;
}

#ringbig{
	position: relative;
	background-color: rgb(126, 122, 200);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#ringinner{
	position: absolute;
	background-color: rgb(255, 243, 248);
	width: 66px;
	height: 66px;
	border-radius: 50%;
	top: 16.5px;
	left: 17px;
}

.ring {
    position: relative;
    animation: roll 2s ease-in-out infinite;
  }
  
  @keyframes roll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }

#perfume{
	position: relative;
	height: 80px;
	width: 56px;
	background-color: orange;
	top: -151px;
	left: 110px;
}

#top{
	position: relative;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: rgb(123, 160, 109);
	top: -260px;
	left: 119px;
    animation:  movee 4s ease-in-out  infinite normal;
}

@keyframes movee {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-70px);
    }
    100% {
      transform: translatey(0);
    }
  }

.napkin{
	position: relative;
	top: 330px;
	left: 470px;
	width: 180px;
	height: 150px;
	background-color: #9f254c;
	border-radius: 10%;
	transform: rotate(350deg);
	position: absolute;
	z-index: -3;    
}

.white{
	position: relative;
	width: 200px;
	height: 170px;
	background-color: rgb(255, 243, 248);
	z-index: -2;
	top: -356px;
	left: 460px;
}
