:root {
	--spacing: 1em;
}

@font-face {
    font-family: "ppobjects";
    src: url(ppobjects.otf);
}

body{
    background-color: #f2efe3;
    font-family: 'ppobjects', sans-serif;
    letter-spacing: 4px;
}
.container{
    font-weight: 400;
    padding: 30px 90px;
    font-size: 35px;
    justify-content: space-between;
}

.collection{
    
}

h1{
    border-bottom: 1px solid currentColor;
    font-size: 50px;
    padding: 10px 30px;
    margin-bottom: calc(4 * var(--spacing));

}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(4 * var(--spacing));
	list-style: none;
    
}

li {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
    margin-top: calc(4 * var(--spacing));
    margin-left: calc(2 * var(--spacing));
    
}
 
img {
    width: 250px;

}



.button {
    background-color: #f2efe3; 
    border: 1.5px solid;
    border-radius: 29.5px;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;  
    transition: 0.4s ease-in-out;
    font-weight: 100;
}

.button:hover{
    background-color: black;
    color: #f2efe3;
   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(3 * var(--spacing));
    margin-bottom: 20px;
    margin-top: 20px;

}

@media (max-width: 600px) {
	ul {
		grid-template-columns: 1fr;
	}

    li {
        margin-top: calc(2 * var(--spacing));
        margin-left: calc(5 * var(--spacing));
        
    }
}